<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>mapping_resources_location</param-name>
        <param-value>WEB-INF/mapping_resources.txt</param-value>
    </context-param>
    <context-param>
        <param-name>authentication_resources_location</param-name>
        <param-value>WEB-INF/authentication_resources.txt</param-value>
    </context-param>
    <context-param>
        <param-name>teacher_resources_location</param-name>
        <param-value>WEB-INF/teacher_resources.txt</param-value>
    </context-param>
    <context-param>
        <param-name>student_resources_location</param-name>
        <param-value>WEB-INF/student_resources.txt</param-value>
    </context-param>
    <filter>
        <filter-name>ExceptionFilter</filter-name>
        <filter-class>khangnh.filters.ExceptionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>khangnh.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>khangnh.filters.DispatcherFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>khangnh.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>khangnh.listeners.ConfigurationContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>khangnh.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>khangnh.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>khangnh.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionCreatePageServlet</servlet-name>
        <servlet-class>khangnh.servlets.QuestionCreatePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>khangnh.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionCreateServlet</servlet-name>
        <servlet-class>khangnh.servlets.QuestionCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefaultUserPageServlet</servlet-name>
        <servlet-class>khangnh.servlets.DefaultUserPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDeleteServlet</servlet-name>
        <servlet-class>khangnh.servlets.QuestionDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionUpdateServlet</servlet-name>
        <servlet-class>khangnh.servlets.QuestionUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>searchQuestion</servlet-name>
        <jsp-file>/search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>chooseSubject</servlet-name>
        <jsp-file>/choose_subject.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createQuestion</servlet-name>
        <jsp-file>/question_create_form.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TakeAQuizServlet</servlet-name>
        <servlet-class>khangnh.servlets.TakeAQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeQuiz</servlet-name>
        <jsp-file>/take_quiz.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>khangnh.servlets.SubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>khangnh.servlets.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionCreatePageServlet</servlet-name>
        <url-pattern>/QuestionCreatePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionCreateServlet</servlet-name>
        <url-pattern>/QuestionCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefaultUserPageServlet</servlet-name>
        <url-pattern>/DefaultUserPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDeleteServlet</servlet-name>
        <url-pattern>/QuestionDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionUpdateServlet</servlet-name>
        <url-pattern>/QuestionUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchQuestion</servlet-name>
        <url-pattern>/searchQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chooseSubject</servlet-name>
        <url-pattern>/chooseSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createQuestion</servlet-name>
        <url-pattern>/createQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAQuizServlet</servlet-name>
        <url-pattern>/TakeAQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeQuiz</servlet-name>
        <url-pattern>/takeQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/SubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>400</error-code>
        <location>/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
